*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: aliceblue;
    font-family: sans-serif;
}

.btn{
    background-color: greenyellow;
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    text-decoration: none;
    color: black;
    font-weight: bolder;
    position: relative;
    overflow: hidden;
}

.btn span{
    position: relative;
    z-index: 0;
}

.btn::before{
    content: "";
    position: absolute;
    background-color: yellow;
    width: 0;
    height: 0;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width .5s, height .5s;
}

.btn:hover::before{
    width: 350px;
    height: 350px;
}

